.count {
    font-size: 15px;
    color: black
}

.counter__text {
    font-family: 'MontserratRegular';
    font-size: 18px;
    user-select: none;
}

.counter__text-item{
    font-family: 'MontserratRegular';
    font-size: 18px;
    text-align: center;
}   